header{
    background-image: url(../assets_day1/img/wall.png);
}

h1{
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 0px;
}

main{
    background-image: url(../assets_day1/img/cork.png);
    padding: 50px 0;
}

.card{
    border-radius: 0px;
}

.img-card{
    position: relative;
}

.pin{
    position: absolute;
    right: 50%;
    left: 47%;
    top: -30px
}